.container {
    display: flex;
    flex: 1;
    background-color: #DCDCDC;
    padding: 20px;
    height: 700px;
    width: 1000px;
}

.box1 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
}

.box2 {
    flex:1;
    flex-flow: column;

}

body {background-color: #608FBB}

.hero-image {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin: 25px 0;
}


.hero-links a {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
}

a, a:link, a:visited {
    color: #6B544E;
    padding: 10px;
}

a {
    background-color: transparent;
    text-decoration: none;
    
}

.hero-description {
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-social {
    padding: 10px;
}


/*https://origamid.com/projetos/flexbox-guia-completo/*/

/* https://htmlcolorcodes.com/*/